@model List<EmployeeModel>

@{
    ViewData["Title"] = "Search Results";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Employee Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Contact No</th>
            <th>Email Id</th>
            <th>Age</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.FirstName</td>
                <td>@employee.LastName</td>
                <td>@employee.ContactNo</td>
                <td>@employee.EmailId</td>
                <td>@employee.Age</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@employee.Id" class="btn btn-primary btn-sm">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@employee.Id" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
